body{
    text-align: center; 
    background-image: linear-gradient(to right top, #0037ff, #1430d3, #1b28a9, #1c2180, #1a195a);   
    background-repeat:no-repeat;
    
      
    

}



input[type=submit] { /* todas las entradas de texto que sean de tipo submit*/
  cursor:pointer; /* para que cuando el cursor este enciama del boton cambie a una mano*/
  width:80px;
  height:30px;
  letter-spacing: 2px;
  font-family: Yu Gothic;
  color: white; /*color de la letra */
  background-color: rgba(0,0,0,0.2); /* color de fondo del boton */
  box-shadow: 2px 2px 5px black; /*para que el sombreado sea de ese tamaño y de ese color  */
  border:0px; /*  para que no tenga bordes*/
  border-radius: 10px; /* para que las puntas de los bordes sean curveadas */
  
 }


 .dash a:link, .dash a:visited {
  color: #54C9B7;
  background-color: transparent;
  text-decoration: none;
}
.lbl{
  text-align: left;
  color:white;
  font-weight:300;
  font-size:0.875em;
  letter-spacing:0.063em;
  font-family: Yu Gothic;
  padding: 20px;
  padding-left: 10%;
  padding-bottom: 3.5%;
  padding-top: 0%;
}


table, th, td {
  font-family: Yu Gothic;
  color: white; /*color de la letra */
  
  
}
table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  padding-bottom: 78px;
 /* top: 50%;
  left: 80%;
  */
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
td{
  font-weight:300;
  font-size:0.875em;
  letter-spacing:0.063em;
}
th{
  background-color: rgba(0,0,0,0.2);
}

tr:hover {
  background-color: #1c2180;
  opacity: 100%;
  }
.btn:hover{
  box-shadow: 2px 2px 7px black;
}

.log:hover{
  box-shadow: 2px 2px 7px black;
}


.center {
  width: 80%;
  text-align: center;
  background:#313141;
  font-family: Yu Gothic;
  margin: auto;
 /* padding: 120px 35px;*/
  border-radius: 10px;
  box-shadow: 0px 0px 30px #313141;
  margin-bottom: 3.6%;
}
.tbl{
  padding-bottom: 5%;
}

.c {
  padding-top: 10%;
  color: white;
  font-weight: bold;
  font-family: Yu Gothic;
  padding: 80px;
  word-spacing: 0.2em;
  margin: auto;
}
.btn{
  cursor:pointer; /* para que cuando el cursor este enciama del boton cambie a una mano*/
   width:150px;
   height:25px;
   letter-spacing: 2px;
   font-family: Yu Gothic;
   color: white; /*color de la letra */
   background-color: rgba(0,0,0,0.2); /* color de fondo del boton */
   box-shadow: 2px 2px 5px black; /*para que el sombreado sea de ese tamaño y de ese color  */
   border:0px; /*  para que no tenga bordes*/
   border-radius: 10px; /* para que las puntas de los bordes sean curveadas */
   
}
.btn:hover {
  background-color: #0037ff;
  opacity: 0%;
  }

.title{
  
  text-align: center;
  color: #232D4D;
  font-family: Yu Gothic;
  font-size: 150%;
}

.log{
  cursor:pointer; /* para que cuando el cursor este enciama del boton cambie a una mano*/
   width:85px;
   height:27px;
   letter-spacing: 3px;
   font-family: Yu Gothic;
   color: white; /*color de la letra */
   background-color: rgba(0,0,0,0.2); /* color de fondo del boton */
   box-shadow: 2px 2px 5px black; /*para que el sombreado sea de ese tamaño y de ese color  */
   border:0px; /*  para que no tenga bordes*/
   border-radius: 10px; /* para que las puntas de los bordes sean curveadas */
   
}
.log:hover {
  background-color: #0037ff;
  opacity: 0%;
  }
.login{
  transform: translate(650%, 30%);
  margin: auto;
  width: 5%;
  padding: 10px;
  
}
#from::placeholder{
  text-align: center;
}
#to::placeholder{
  text-align: center;
}

.dropbttn {
      
  text-align: left;
  font-family: Yu Gothic;
  background-color: rgba(0,0,0,0.2);
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.dropdownn {
  
  position: relative;
  display: inline-block;
}

.dropdown-contenido {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
   border-radius: 10px;
}

.dropdown-contenido a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropdown-contenido a:hover {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.dropdownn:hover .dropdown-contenido {
  display: block;
  border-radius: 10px;
}

.dropbttn:hover  {
  background-color: #0037ff;
  border-radius: 10px;
}

.btnRedactar:hover {
  background-color: #0037ff;
  border-radius: 10px;
}

.btnRecibidos:hover{
  background-color: #0037ff;
  border-radius: 10px;
}

.btnBorradores:hover {
  background-color: #0037ff;
  border-radius: 10px;
}

.btnSpam:hover {
  background-color: #0037ff;
  border-radius: 10px;
}

.btnEnviados:hover {
  background-color: #0037ff;
  border-radius: 10px;
}

.drop{
  width: 50%;
  transform: translate(86%,19%);
  text-align: right;
  
}

.user{
  margin-top: -3%;
  width: 10%;
  transform: translate(1060px,0px);
  
}
#immg{
  width: 38%;
  height: auto;
  border-radius: 15px;

}
label{
  color: white;
}


.title{
  color: #ffffff;

}
.correo{

  font-family: Yu Gothic;
 height: 20em;
 width: 700px;
}
