html{
  text-align: left; 
  background-image: linear-gradient(to right top, #0037ff, #1430d3, #1b28a9, #1c2180, #1a195a);  
    width:100%;
    height: 100%
  }

 form{

    width: 60%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #313141;
   letter-spacing: 2px; /* espaciado entre letras*/
   font-family: Yu Gothic; /* tipo de letra*/
   color: white; /* color de letra*/
   font-size: 100%; /* tamaño de letra*/
   padding:2px; /*relleno a cada lado del form */
   display:block; /* forma del form  */
   margin: 0 auto;
   text-align: center; /*alineacion del texto */
   background-color: #1a195a;
  }
  
  input{ /* todas las entradas de texto*/
   width:290px;
   height:25px;
   font-family: Yu Gothic;
   border:0px; /*  para que no tenga bordes*/
   border-radius: 10px; /* para que las puntas de los bordes sean curveadas */
  }
 input[type=button] { /* todas las entradas de texto que sean de tipo submit*/
   cursor:pointer; /* para que cuando el cursor este enciama del boton cambie a una mano*/
   width:150px;
   height:30px;
   letter-spacing: 2px;
   font-family: Yu Gothic;
   color: white; /*color de la letra */
   background-color: rgba(0,0,0,0.2); /* color de fondo del boton */
   box-shadow: 2px 2px 5px black; /*para que el sombreado sea de ese tamaño y de ese color  */
   margin-bottom: 5%;
  }
  input[type=button]:hover {
    background-color: #54C9B7;
    opacity: 0%;
  }
  
  label {
   text-align: right;
   font-size: 70%; /* el tamaño de la letra*/
  }
  a{
   color: #1FC9B2;
   font-size: 70%;
  }
  div{
    margin-top: 3.8%;
    text-align: left;
  
  }